.title {
    text-align: center;
}

.toolbar {
    padding-bottom: 15px;
    nav-right: auto;
    float: right;
    padding-top: 5px
}

.btn-primary {
    color: #fff;
    background-color: #2E4C80;
    background-color: cutom-color;
    border-color: #2E4C80;
    border-color: cutom-cor;
}