.title {
    text-align: center;
}

.toolbar {
    padding-bottom: 15px;
    nav-right: auto;
    float: right;
    padding-top: 5px
}

.btn-primary {
    color: #fff;
    background-color: #2E4C80;
    background-color: #4eafeb;
    border-color: #2E4C80;
    border-color: #4eafeb;
}

.paper {
    margin: auto;
    width: 50%;
    border: 3px solid #4eafeb;
    padding: 10px;
}

.info {
    padding-top: 15px;
}

.created {
    font-size: 9px;
    float: right;
   
}