.profileInputs {
 max-width: 75%;
  padding: 10px 20px;
  margin: 0 auto;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.profileButton {
  width: 12%;
  background-color: #2d699e;
  color: white;
  padding: 14px 20px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pButton {
  width: 12%;
  background-color: #2d699e;
  color: white;
  padding: 14px 20px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}


.sauce {
    text-align: center;
     font-family: "SignPainter";
      font-size: 50px;
       font-weight: 100;
}