.summary{
    
    white-space: pre-wrap;

}

.title{
    font-size: ;
}
.randomContainer {
padding: 10px;
  margin: auto;
  width: 70%;
  border: 3px solid #4eafeb;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  justify-content: center;

}
