.nav-right {
  float: right;
  margin-right: 30px;
 
}

h2 {
  cursor: pointer;
}

.content {
  font-size: 10px;
}

.button{
  margin: 100px;
  padding: 25px;
}


/* .container {
   width: 75%;
    height: 10rem;
    margin: auto;
    background-color:#4eafeb;
    border-radius: 10px;
} */


.container {
    box-sizing: border-box;
    width: 75%;
    height: 10rem;
    margin-bottom: 15px;
    background-color:#4eafeb;
    border-radius: 10px;
    white-space: pre-wrap;      
   white-space: -moz-pre-wrap;   
  
    
   word-wrap: break-word;   
}



/* 
.child {
 flex: 1;
    height: auto;
    margin: auto;
    border-color: red;
    border-width: 10px;
} */



