/* .paper {
    border-radius: 10px;
    border-width: 2px;
    border-color: red;
}



.tile {
    background-color: white;
    margin: 2%;
    border-radius: 5px;
} */

.list {
    scroll-behavior: smooth;
    
}

.scroll {
    overflow: scroll;
}

